@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
--color-jmi-100: #F4FFC3 ;    /* very pale lime */
--color-jmi-200: #E9F5D0;    /* soft green tint */
--color-jmi-300: #DFF09E;    /* light lime highlight */
--color-jmi-400: #A9C46C;    /* mild olive */
--color-jmi-500: #809D3C;    /* medium olive green */
--color-jmi-600: #5D8736;    /* balanced green */
--color-jmi-700: #3E5C25;    /* deep forest green */
--color-jmi-800: #2F441B;    /* deeper green (added) */
--color-jmi-900: #1E2C12;    /* near-black green (added) */
--color-jmi-950: #FFB84D;    /* vibrant orange accent */
--color-jmi-1000: #E69A15;   /* stronger accent (added) */


}
.toast-jmi-success {
  background-color: var(--color-jmi-100);
  color: var(--color-jmi-900);
  font-weight: bold;
  border-left: 5px solid var(--color-jmi-500);
}

.jamia-dark {
  color: var(--jamia-dark);
}

.bg-jamia-dark {
  background-color: var(--jamia-dark);
}

.jamia-mid {
  color: var(--jamia-mid);
}

.bg-jamia-mid {
  background-color: var(--jamia-mid);
}

.bg-gradient-jamia {
  background: linear-gradient(90deg, var(--jamia-dark), var(--jamia-mid));
}

.border-jamia-light {
  border-color: var(--jamia-light);
}


body {
  font-family: 'Poppins', sans-serif;
}