@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --color-jmi-100: #5D8736;
  --color-jmi-200: #809D3C;
  --color-jmi-300: #A9C46C;
  --color-jmi-400: #F4FFC3;
  --color-jmi-500:   #3E5C25;  /* deeper green, good for borders or shadows */
--color-jmi-600:   #DFF09E;  /* light lime highlight, subtle background shade */
--color-jmi-700:   #E9F5D0;  /* soft green tint, great for cards or hover */
--color-jmi-800: #FFB84D;  /* orange-yellow accent, for buttons or icons */

}

.jamia-dark {
  color: var(--jamia-dark);
}

.bg-jamia-dark {
  background-color: var(--jamia-dark);
}

.jamia-mid {
  color: var(--jamia-mid);
}

.bg-jamia-mid {
  background-color: var(--jamia-mid);
}

.bg-gradient-jamia {
  background: linear-gradient(90deg, var(--jamia-dark), var(--jamia-mid));
}

.border-jamia-light {
  border-color: var(--jamia-light);
}


body {
  font-family: 'Poppins', sans-serif;
}